# Bỏ qua thư mục build
build/
cmake-build-debug/

# Bỏ qua file chạy và file rác
*.exe
*.o
*.a
*.pdb

# Bỏ qua file database log (để test)
*.data

# Bỏ qua cấu hình VS Code
.vscode/

# Bỏ qua rác CMake (nếu lỡ build ở root)
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile

.cache/
__pycache__/
*.pyc